# Ignorer l'environnement virtuel
venv/
env/
.env

# Ignorer les fichiers de données binaires / cache
*.csv

# Ignorer les caches Python 
__pycache__/
*.py[cod]

# Ignorer les fichiers système ou IDE 
.DS_Store
.vscode/
.idea/

# Ignorer la couverture généré par les test unitaires
.coverage

# Ignorer le fichier requirement avec les bibliothèques nécessaires au dev
.requirements.txt